
<h1> <a href="/users/home">Home</a> || <a href="/users/logout">Log Out</a> </h1>

<h2>Add a Seller:</h2>

<form class="" action="/sellers" method="post">

  <h3> Seller's Name: <input type="text" name="seller_name" value=""> </h3>

  <h3> Seller's Start Date (optional): </h3>
    <h4> Month (1 - 12): <input type="text" name="start_date[month]" value=""> </h4>
    <h4> Day (1 - 31): <input type="text" name="start_date[day]" value=""> </h4>
    <h4> Year: <input type="text" name="start_date[year]" value=""> </h4>


  <input type="submit" name="" value="Add Seller">

</form>
