
    <% if flash[:message] %>
      <h2> <%= flash[:message] %> </h2>
      <h2></h2>
    <% end %>

    <h1>Create a User Account</h1>

    <form class="" action="/users/signup" method="post">

      <h2> Username: <input type="text" name="username" value=""> </h2>
      <h2> Password: <input type="text" name="password" value=""> </h2>
      <h2> <input type="submit" name="" value="Create User Account"> </h2>

    </form>

    <h3>Or <a href="/users/login">log in</a></h3>
