

    <h1>Log In</h1>

    <form class="" action="/users/login" method="post">



      <h2> Username: <input type="text" name="username" value=""> </h2>
      <h2> Password: <input type="text" name="password" value=""> </h2>

      <h2> <input type="submit" name="" value="Log In"> </h2>
    </form>

    <h3> Or <a href="/users/signup">create an Account</a> </h3>
